a:link, a:visited {
    display: block; /* Превращаем ссылку в блочный элемент */
    margin-top: 20px; /* Добавляем отступ сверху для разделения ссылки от списка */
    color: green; /* Цвет не посещенной ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

a:visited {
    color: red; /* Цвет посещенной ссылки */
}